.Num_crew{
    text-align: center;
    position: relative;
}
.flightNo {
    color: rgb(197, 11, 234);
}
.rosterTable{
    background-color: rgb(234, 244, 244);
}
.rosterTable tr:nth-child(even){
   background-color: rgb(115, 175, 232);
   color: rgb(255, 255, 255);
}
.rosterTable tr:nth-child(even) td{
   background-color: rgb(115, 175, 232);
     
}
